@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

input, textarea{
  caret-color: #0ea5e9;
}

::selection{
  background: #0ea5e9;
  color: #fff;
}

.navbar-fixed{
  @apply fixed z-[9999] bg-white bg-opacity-80 backdrop-blur-sm dark:bg-slate-900 dark:bg-opacity-50;
  /* backdrop-filter: blur(5px); */
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1)
}

.hamburgerline{
  @apply w-[30px] h-[2px] my-2 block bg-black dark:bg-white;
}

.hamburgeractive > span:nth-child(1){
  @apply rotate-45;
}

.hamburgeractive > span:nth-child(2){
  @apply scale-0;
}

.hamburgeractive > span:nth-child(3){
  @apply  -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}




/* html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
